<template>
  <div class="home">
    <div class="center">
      <el-row :gutter="30">
        <el-col :md="8">
          <div class="opcion opcion1"  @click="$router.push('presentacion')" :class="{'activo' : isActive == 1}">
                 <h1>PRESENTACIÓN</h1>
          </div>
        </el-col>
          <el-col :md="8">
 <div class="opcion opcion2"  @click="$router.push('intro')" :class="{'activo' : isActive == 2}">
                 <h1 style="background:transparent">INTRODUCCIÓN</h1>
          </div>
        </el-col>
          <el-col :md="8">
           <div class="opcion opcion3"  @click="$router.push('idea')" :class="{'activo' : isActive == 3}">
                  <h1 style="background:transparent; top:-18px">IDEA</h1>
          </div>
        </el-col>
         
      </el-row>
       <el-row :gutter="30">
              <el-col :md="8">
            <div class="opcion opcion4"  @click="$router.push('implementacion')" :class="{'activo' : isActive == 4}">
                  <h1 style="background:transparent; top:-18px; color:#C32D41">IMPLEMENTACIÓN</h1>
          </div>
        </el-col>
         <el-col :md="8">
            <div class="opcion opcion5" @click="$router.push('admin')" :class="{'activo' : isActive == 5}" >
                  <h1>ADMINISTRACIÓN</h1>
          </div>
        </el-col>
        <el-col :md="8">
            <div class="opcion opcion6"  @click="$router.push('movil')" :class="{'activo' : isActive == 6}">
                  <h1 style="background:transparent; top:-18px; color:#C32D41">APLICACIÓN </h1>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import op1 from '../assets/opcion1.svg'
export default {
  name: 'home',
  data() {
    return {
      op1: op1,
      isActive: 0
    }
  },
  created(){
    let index = 0
    setInterval(() => {
       this.animar(index)
      //  setTimeout(() => {
         if(index == 6){
           index = 1
         }else{
index = index + 1
         }
         
      //  }, 500);
    }, 1000);


    
  },
  methods: {
    animar(index) {
      
       
              this.isActive = index
          
    }
  },
 
}
</script>
<style>
.center{
  width: 75%;
  margin: 0 auto;
  min-width: 1170px;
}
.opcion1{
background: url('../assets/opcion1.svg') #fff no-repeat center center;
background-size: contain;
}
.opcion2{
background: url('../assets/intro.png') #fff no-repeat center center;
background-size: cover;
}
.opcion3{
background: url('../assets/idea.png') #fff no-repeat center center;
background-size: cover;
}
.opcion4{
background: url('../assets/imple.png') #fff no-repeat center center;
background-size: contain;
}
.opcion5{
background: url('../assets/bac.png') #fff no-repeat center center;
background-size: contain;
}
.opcion6{
background: url('../assets/app.png') #fff no-repeat center center;
background-size: cover;
}
.opcion:hover, .activo{
  transform: scale(1.1)
}
.opcion{
  cursor: pointer;
 transition: all .5s;
  background-color: #fff;
  margin-top: 30px;
  height: 35vh;
  position: relative;
  border-radius: 4px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.opcion img{
  width: 80%;
  display: block;
  height: 30vh;
}
.opcion h1 {
  background:#C32D41;
  position: absolute;
  bottom:-21px;
  width: 100%;
 padding: 10px 0px;
}
</style>
