<template>
    <div>
   <div class="intro1">
  <img src="@/assets/intro1.png" alt="">
   </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style >
.intro1{
    
    width: 100%;
}
</style>