<template>
    <div class="pres">
        <el-row>
            <el-col :md="24">
                <h1>PROYECTO FINAL <strong>BAC</strong> <br>
                <small>TEMARIO</small>
                </h1>
              
            </el-col>
          
        </el-row>
        <el-row :gutter="30">
              <el-col :md="8">
                
                <h2 @click="$router.push('intro')"> INTRODUCCIÓN <br>
                 <small>
                     <strong>JUAN FLORES</strong>
                    </small></h2>
            </el-col>
            <el-col :md="8">
                <h2 @click="$router.push('idea')"> ANÁLISIS <br>
                 <small>
                     <strong>PABLO Agüero</strong>
                    </small></h2>
            </el-col>
            <el-col :md="8">
                <h2 @click="$router.push('implementacion')"> IMPLEMENTACIÓN <br>
                 <small>
                     <strong>JUAN ALDERETE</strong>
                    </small></h2>
            </el-col>
        </el-row>
         <el-row :gutter="30">
              <el-col :md="8">
                
                <h2 @click="$router.push('admin')"> ADMINISTRACIÓN  <br>
                 <small>
                     <strong>FRANCISCO ALASIA</strong>
                    </small></h2>
            </el-col>
            <el-col :md="8">
                <h2 @click="$router.push('movil')"> APP MOVÍL <br>
                 <small>
                     <strong>LUCAS LAIME</strong>
                    </small></h2>
            </el-col>
            <el-col :md="8">
                <h2 @click="$router.push('final')"> PREGUNTAS, DUDAS <br>
                 <small>
                     <!-- <strong>JUAN ALDERETE</strong> -->
                    </small></h2>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style  >
strong{
color: #C32D41;
text-shadow: #000000 1px 3px 2px;
text-transform: uppercase;
}
.pres h1{
    text-align: center;
    /* padding-left: 10px; */
    font-size: 60px;
    line-height: 1;
}

.pres h2{
    text-align: center;
    /* padding-left: 10px; */
    font-size: 40px;
    line-height: 1;
    /* border:1px dashed #fff; */
    padding: 10px;
    /* height: 20vh; */
    cursor: pointer;
    transition: all 0.2s;
}
.pres h2:hover{
    transform: scale(1.1)
}
</style>