<template>
    <div>
        
        
        <el-row>
             <el-col :md="4">
                   <img class="logo" @click="$router.push('/')"  src="@/assets/bac_logo.svg" alt="">
            </el-col>
           
            
             <el-col :md="{span:8, offset:12}">
                  <!-- <img class="logo2"  src="@/assets/puli.png" alt=""> -->
                  <h1 style="text-transform:uppercase; font-size:55px; margin-top:20px">{{$route.meta.titulo}}</h1>
            </el-col>
        </el-row>
      
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="css" >
.logo{
    width: 100%;
    display: block;
}
.logo2{
    width: 80%;
    padding: 10px 0px;
    float: right;
    display: block;
   

}
.logo3{
    width: 10%;
    padding: 10px;
    float: right;
    display: block;
    position: absolute;
    right: 150px;
    top: 0;

}
</style>