<template>
  <div id="app">
    <bac-header />
    <transition name="slide-left" mode="out-in">
    <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import bacHeader from '@/components/bacHeader.vue'
export default {
  name: 'app',
  components:{
    bacHeader
  }
 
}
</script>

<style>
#app{
  width: 90%;
  margin:0 auto;
}
body, html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #2c3e50;
  width: 100%;
  height: 100%;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
</style>
